################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeTest/bin/Debug
/CodeTest/obj/Debug
*.suo
